extends layout

block content
  .main.container-fluid.my-4
    .row.justify-content-center
      .col-md-6
        .btn-group.w-100
          a.btn.btn-outline-secondary.w-100.rounded-0(class=(status === 'public') ? "active" : "" , href='/dashboard/archives?status=public') 已發佈
          a.btn.btn-outline-secondary.w-100.rounded-0(class=(status === 'draft') ? "active" : "", href='/dashboard/archives?status=draft') 草稿
          a.btn.btn-primary(href='article.html') 新增文章
        each item, index in articles
          .card.my-3
            h4.card-header=item.title
            .card-body.div!= item.content.slice(0,150)
              |...
              div
                span.fa.fa-clock-o!= moment(item.update_time*1000).format("YYYY/MM/DD")
                |             ,
                span.fa.fa-folder-open-o
                span
                  | 沒有分類
            .card-footer.p-0.btn-group
              a.btn.btn-outline-danger.rounded-0.deletePost(href='#', data-id=item.id, data-title=item.title) 刪除
              a.btn.btn-outline-secondary.w-100.rounded-0(href='#') 編輯
              a.btn.btn-outline-secondary.w-100.rounded-0(href='#', target='_blank') 預覽
    nav.my-5(aria-label='Page navigation example')
      ul.pagination.justify-content-center
        li.page-item.disabled
          a.page-link(href='/dashboard/archives', tabindex='-1') Previous
        li.page-item.active
          a.page-link(href='/dashboard/archives')
            | 1
        li.page-item
          a.page-link(href='/dashboard/archives')
            | 2
        li.page-item
          a.page-link(href='/dashboard/archives') Next

  script(src="../../javascripts/archives.js")
    

  